.gradient-custom-2 {
  /* fallback for old browsers */
  background: rgb(52, 201, 178);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #34c9b2 7%, #9e57e0 63%, #6d4061 95%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: transparent linear-gradient(230deg, rgba(52, 201, 178, 1) 7%, rgba(158, 87, 224, 1) 63%, rgba(109, 64, 97, 1) 95%) 0% 0% no-repeat padding-box;
}

.divimg {
  padding: 0rem 10rem;
}

.divimg img {
  padding: 0 2rem;
  margin: 0 0 4rem 0;
}

.card {
  background: #f2f9f8;
}

#home .card {
  background: #fff;
}

a {
  color: #6a4264;
  text-decoration: none;
}

a:hover {
  color: #6a4264;
  text-decoration: underline;
}



.btn-primary {
  background: #34c9b2;
  border: 1px solid #34c9b2;
}

.btn-primary:hover {
  background: #289887;
  border: 1px solid #289887;
  text-decoration: none;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background: #289887;
  border: 1px solid #289887;
}



.cls-1:hover {
  fill: #b981ac;
  transition: transform 0.5s;
  cursor: pointer;
}

svg path:hover {
  fill: #b981ac;
  transition: transform 0.5s;
  cursor: pointer;
}

svg path#ico-chih {
  border: 1px solid #6a4264;
}

#mapasvg {
  padding: 0 4rem;
  padding: 0 7rem 3rem 2rem;
  padding: 3rem 5rem 0rem 7rem;
  padding: 2rem 4rem 0rem 5rem;
}

.mapa {
  display: flex;
  align-items: center;
}

.mapa h5 {
  display: flex;
  justify-content: left;
  margin: 0 0 2rem 0;
}

.btn-menu {
  height: 39px;
  width: 58px;
  margin-left: 20px;
  border: 1px solid #34c9b2;
  border-radius: .375rem;
}

.btn-menu img {
  width: 100%;
  padding: 5px 5px;
}

:focus {
  outline: 1px;
}

.cls-1.estado.hover {
  fill: #b981ac;
}

a.estado.hover {
  text-decoration: none;
}

.estado span {
  width: 20px;
  display: inline-block;
  background: white;
  height: 20px;
  padding: 0;
  margin: 0 5px 0 0;
  border-radius: 13px;
  border: 1px solid palevioletred;
  position: relative;
  top: 3px;
}

.estado.hover span {
  width: 20px;
  display: inline-block;
  background: rgb(231, 160, 184);
  height: 20px;
  padding: 0;
  margin: 0 5px 0 0;
  border-radius: 13px;
  border: 1px solid palevioletred;
  position: relative;
  top: 3px;
  transition: all 0.5s;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.estado {
  flex: 1 0 21%;
  /* Esto hará que los elementos se muestren en tres columnas en escritorio */
  margin: 5px;
  box-sizing: border-box;
  display: block;

}

.tabla {
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  margin-right: 1rem;
  width: 100%;
}

#home .card-body {
  padding: 0 0 1rem 0;
}

.admin {
  text-align: right;
}

.mapa>.col-lg-7 {
  padding: 1rem 0;
}

ul {
  list-style: none;
  margin: 0;
}

#tablero .card {
  margin-top: 1rem;
}



#tablero .estado {
  flex: 1 0 21%;
  margin: 5px;
  box-sizing: border-box;
  display: inline;
  border-bottom: 7px solid #b981ac;
  padding-bottom: 1rem;
  text-transform: none;
  padding-left: 26px;
}


#tablero .sumario {

  background-color: #ebf2f1;
  margin-bottom: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 20px;
  /*     border-top: 2px solid #9854d1;
    border-bottom: 1px solid #a2c9c3;
    border-left: 1px solid #a2c9c3;
    border-right: 1px solid #a2c9c3; */
}

#tablero .sumario>a {
  border-left: 1px solid #c2c7c6;
  display: block;
  margin: 10px 0;
  padding-bottom: 10px;
  padding-top: 10px;
  float: left;
  text-decoration: none;
  width: 25%;
}

#tablero .sumario>a:first-child {
  border-left-style: none;
}

#tablero .sumario>a:last-child {
  border-right-style: none;
}

#tablero .sumario>a>span,
.sumario>a>h5 {
  color: #dd7c9c;
  display: block;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

#tablero .sumario>a>span {
  color: #6a4163;
  font-size: 1rem;
  font-weight: 300;
}

#tablero .estado span {
  top: 18px;
  left: 105px;
  position: absolute;
}

#tablero .estado.hover span {
  top: 18px;
  left: 105px;
  position: absolute;
}

#tablero li {
  text-align: left;
}

#tablero .sumario-detalle span {
  /* border-bottom: 5px solid #ffb1ed; */
  color: #444;
  position: relative;
  top: 0px;
}

#tablero .sumario-detalle h5 {
  font-size: 2rem;
  font-weight: 600;
  color: #b981ac;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
  line-height: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
}

#municipios #mapasvg {
  padding: 0rem 4rem 0rem 5rem;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-radius: .3rem .0rem .0rem .3rem;
  }

}

@media (max-width: 991px) {
  .mapa>.col-lg-7 {
    padding: 1rem;
  }

  #tablero .estado {
    font-size: 1.2rem;
  }

  .back span {
    display: none;
}
}